@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial;

}


.picture{
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.mainClass{
    background-color:	#C0C0C0;
    display: block;
    border: 50px solid #4F4F4F;
}

.barraNavegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;


}

.menuNavegacao{
    background-color: #C0C0C0;
    padding-left: 50px;
    font-weight: bold;
    font-size: 30px;
    color: black;
    
}

a:hover {
    text-decoration: underline;
    background:#F5F5F5;
    color: #FA8072
    }

.inicio{
    display: flex;
    margin-top: 80px;
}

.informacoes{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 20px;
    color: black;

}

.picture{
    margin-left: 20px;
}
.nome{
    display: flex;
    font-size: 30px;
    flex-direction: row;
    color: black;
}

.idade{
    display: flex;
    font-size: 25px;
   
}

.curso{
    display: flex;
    font-size: 25px;

}

.atuacao{
    display: flex;
    font-size: 25px;

}

.email{
    display: flex;
    font-size: 25px;

}

.sobreMim{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.titulo{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;

}

.textoSobreMim{
    font-size: 25px;
    text-align: justify;
    padding: 50px;
    color: black;
}

.formacoesAcademicas{
    display: flex;
    flex-direction: column;
    margin-top: 60px;

}

.for{
    margin-left: 60px;
    font-size: 25px;
}
.experienciasTotais{
    display: flex;
    text-align: center;
    flex-direction: column; 
    margin-top: 60px;
}

minhasExp{
    text-align: justify;
    padding: 60px;
    
    
}
.tit{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.data{
    font-size: 25px;
    margin-top: 15px;
    
}

.descricao{
    font-size: 25px;
    margin-bottom: 50px;

}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.logoRedes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.link{
    margin-right: 90px;
}

.icone{
   display: block;
   margin-left: auto;
    margin-right: auto;

}